# Copie este arquivo para .env.local e preencha os valores
DATABASE_URL=""
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"
MERCADOPAGO_ACCESS_TOKEN=""
NEXT_PUBLIC_MERCADOPAGO_PUBLIC_KEY=""
RESEND_API_KEY=""
EMAIL_FROM="Metalab <pedidos@metalab.com.br>"
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
NEXT_PUBLIC_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="Metalab Store"
